/* START: Breakpoints */
$small-w: 480px;
$medium-w: 960px;
$large-w: 1272px;
/* END: Breakpoints */

/* START: Font */
$small-text: 12px;
$small-lh: 19px;
$normal-text: 14px;
$normal-lh: 21px;
$nav-text: 16px;
$nav-lh: 23px;
$medium-text: 20px;
$medium-lh: 27px;
$large-text: 30px;
$large-lh: 37px;

$thin-text-w: 300;
$normal-text-w: 400;
$bold-text-w: 600;
$bolder-text-w: 800;
/* END: Font */

/* START: Units */
$grid-unit: 4px;
/* END: Units */
